In [39]:
import pandas as pd
data = pd.read_csv("Virat-Kohli-International-Cricket-Centuries.csv")
data

,No.,Runs,Against,Position,Innings,Venue,Ground,Date,Result
0,1,107,Sri Lanka,4,2,"Eden Gardens, Kolkata",Home,24-Dec-09,Won
1,2,102*,Bangladesh,3,2,"Sher-e-Bangla Cricket Stadium, Dhaka",Away,11-Jan-10,Won
2,3,118,Australia,3,2,"APCA-VDCA Stadium, Visakhapatnam",Home,20-Oct-10,Won
3,4,105,New Zealand,3,1,"Nehru Stadium, Guwahati",Home,28-Nov-10,Won
4,5,100*,Bangladesh,4,1,"Sher-e-Bangla Cricket Stadium, Dhaka",Away,19-Feb-11,Won
...,...,...,...,...,...,...,...,...,...
75,76,121,West Indies,4,1,"Queen's Park Oval, Port of Spain",Away,20-Jul-23,Drawn
76,77,122*,Pakistan,3,1,"R. Premadasa Stadium, Colombo",Neutral,11-Sep-23,Won
77,78,103*,Bangladesh,3,2,"Maharashtra Cricket Association Stadium, Pune",Home,19-Oct-23,Won
78,79,101*,South Africa,3,1,"Eden Gardens, Kolkata",NaN,05-Nov,Won
79,80,117,New Zealand,3,1,"Wankhede Stadium, Mumbai",Home,15-Nov-23,Won

In [40]:
data.head()

,No.,Runs,Against,Position,Innings,Venue,Ground,Date,Result
0,1,107,Sri Lanka,4,2,"Eden Gardens, Kolkata",Home,24-Dec-09,Won
1,2,102*,Bangladesh,3,2,"Sher-e-Bangla Cricket Stadium, Dhaka",Away,11-Jan-10,Won
2,3,118,Australia,3,2,"APCA-VDCA Stadium, Visakhapatnam",Home,20-Oct-10,Won
3,4,105,New Zealand,3,1,"Nehru Stadium, Guwahati",Home,28-Nov-10,Won
4,5,100*,Bangladesh,4,1,"Sher-e-Bangla Cricket Stadium, Dhaka",Away,19-Feb-11,Won

In [41]:
data.isnull().sum()

No.         0
Runs        0
Against     0
Position    0
Innings     0
Venue       0
Ground      1
Date        0
Result      0
dtype: int64

In [42]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80 entries, 0 to 79
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   No.       80 non-null     int64
 1   Runs      80 non-null     object
 2   Against   80 non-null     object
 3   Position  80 non-null     int64
 4   Innings   80 non-null     int64
 5   Venue     80 non-null     object
 6   Ground    79 non-null     object
 7   Date      80 non-null     object
 8   Result    80 non-null     object
dtypes: int64(3), object(6)
memory usage: 5.8+ KB

In [56]:
data1 = data['Against'].unique()
data1

array([' Sri Lanka', ' Bangladesh', ' Australia', ' New Zealand',
       ' England', ' West Indies', ' Pakistan', ' Zimbabwe',
       ' South Africa', ' Afghanistan', 'West Indies', 'Pakistan',
       'Bangladesh', 'South Africa', 'New Zealand'], dtype=object)

array([' Sri Lanka', ' Bangladesh', ' Australia', ' New Zealand',
       ' England', ' West Indies', ' Pakistan', ' Zimbabwe',
       ' South Africa', ' Afghanistan', 'West Indies', 'Pakistan',
       'Bangladesh', 'South Africa', 'New Zealand'], dtype=object)

In [60]:
data_filled = data.fillna("Unknown")

In [62]:
data_filled

,No.,Runs,Against,Position,Innings,Venue,Ground,Date,Result
0,1,107,Sri Lanka,4,2,"Eden Gardens, Kolkata",Home,24-Dec-09,Won
1,2,102*,Bangladesh,3,2,"Sher-e-Bangla Cricket Stadium, Dhaka",Away,11-Jan-10,Won
2,3,118,Australia,3,2,"APCA-VDCA Stadium, Visakhapatnam",Home,20-Oct-10,Won
3,4,105,New Zealand,3,1,"Nehru Stadium, Guwahati",Home,28-Nov-10,Won
4,5,100*,Bangladesh,4,1,"Sher-e-Bangla Cricket Stadium, Dhaka",Away,19-Feb-11,Won
...,...,...,...,...,...,...,...,...,...
75,76,121,West Indies,4,1,"Queen's Park Oval, Port of Spain",Away,20-Jul-23,Drawn
76,77,122*,Pakistan,3,1,"R. Premadasa Stadium, Colombo",Neutral,11-Sep-23,Won
77,78,103*,Bangladesh,3,2,"Maharashtra Cricket Association Stadium, Pune",Home,19-Oct-23,Won
78,79,101*,South Africa,3,1,"Eden Gardens, Kolkata",Unknown,05-Nov,Won
79,80,117,New Zealand,3,1,"Wankhede Stadium, Mumbai",Home,15-Nov-23,Won

In [64]:
data_filled.isna().sum()

No.         0
Runs        0
Against     0
Position    0
Innings     0
Venue       0
Ground      0
Date        0
Result      0
dtype: int64

In [68]:
data_filled = data_filled.rename(columns={'Against': 'Opposition'})
data_filled

,No.,Runs,Opposition,Position,Innings,Venue,Ground,Date,Result
0,1,107,Sri Lanka,4,2,"Eden Gardens, Kolkata",Home,24-Dec-09,Won
1,2,102*,Bangladesh,3,2,"Sher-e-Bangla Cricket Stadium, Dhaka",Away,11-Jan-10,Won
2,3,118,Australia,3,2,"APCA-VDCA Stadium, Visakhapatnam",Home,20-Oct-10,Won
3,4,105,New Zealand,3,1,"Nehru Stadium, Guwahati",Home,28-Nov-10,Won
4,5,100*,Bangladesh,4,1,"Sher-e-Bangla Cricket Stadium, Dhaka",Away,19-Feb-11,Won
...,...,...,...,...,...,...,...,...,...
75,76,121,West Indies,4,1,"Queen's Park Oval, Port of Spain",Away,20-Jul-23,Drawn
76,77,122*,Pakistan,3,1,"R. Premadasa Stadium, Colombo",Neutral,11-Sep-23,Won
77,78,103*,Bangladesh,3,2,"Maharashtra Cricket Association Stadium, Pune",Home,19-Oct-23,Won
78,79,101*,South Africa,3,1,"Eden Gardens, Kolkata",Unknown,05-Nov,Won
79,80,117,New Zealand,3,1,"Wankhede Stadium, Mumbai",Home,15-Nov-23,Won

In [87]:
data_filled['Runs'] = data_filled['Runs'].str.replace(r'[^0-9]', '', regex=True)
data_filled

,No.,Runs,Opposition,Position,Innings,Venue,Ground,Date,Result
0,1,107,Sri Lanka,4,2,"Eden Gardens, Kolkata",Home,24-Dec-09,Won
1,2,102,Bangladesh,3,2,"Sher-e-Bangla Cricket Stadium, Dhaka",Away,11-Jan-10,Won
2,3,118,Australia,3,2,"APCA-VDCA Stadium, Visakhapatnam",Home,20-Oct-10,Won
3,4,105,New Zealand,3,1,"Nehru Stadium, Guwahati",Home,28-Nov-10,Won
4,5,100,Bangladesh,4,1,"Sher-e-Bangla Cricket Stadium, Dhaka",Away,19-Feb-11,Won
...,...,...,...,...,...,...,...,...,...
75,76,121,West Indies,4,1,"Queen's Park Oval, Port of Spain",Away,20-Jul-23,Drawn
76,77,122,Pakistan,3,1,"R. Premadasa Stadium, Colombo",Neutral,11-Sep-23,Won
77,78,103,Bangladesh,3,2,"Maharashtra Cricket Association Stadium, Pune",Home,19-Oct-23,Won
78,79,101,South Africa,3,1,"Eden Gardens, Kolkata",Unknown,05-Nov,Won
79,80,117,New Zealand,3,1,"Wankhede Stadium, Mumbai",Home,15-Nov-23,Won

In [96]:
data_filled['Runs'] = data_filled['Runs'].astype(int)

In [98]:
runs_mean = data_filled['Runs'].mean()
runs_mean

131.55

In [110]:
no_of_centuries_against_each_team = data_filled.groupby('Opposition')['Runs'].count()
no_of_centuries_against_each_team

Opposition
 Afghanistan      1
 Australia       16
 Bangladesh       6
 England          8
 New Zealand      8
 Pakistan         2
 South Africa     7
 Sri Lanka       15
 West Indies     11
 Zimbabwe         1
Bangladesh        1
New Zealand       1
Pakistan          1
South Africa      1
West Indies       1
Name: Runs, dtype: int64

In [118]:
no_of_centuries_in_each_venue = data_filled.groupby('Venue')['Runs'].count()
no_of_centuries_in_each_venue

Venue
ACA Stadium, Guwahati                                    2
ACA-VDCA Cricket Stadium, Visakhapatnam                  2
APCA-VDCA Stadium, Visakhapatnam                         2
Adelaide Oval, Adelaide                                  5
Basin Reserve, Wellington                                1
Bellerive Oval, Hobart                                   1
Dubai International Cricket Stadium, Dubai               1
Eden Gardens, Kolkata                                    4
Edgbaston Cricket Ground, Birmingham                     1
Feroz Shah Kotla Ground, Delhi                           2
Galle International Stadium, Galle                       2
Green Park Stadium, Kanpur                               1
Greenfield International Stadium, Thiruvananthapuram     1
HPCA Stadium, Dharamshala                                1
Harare Sports Club, Harare                               1
Holkar Stadium, Indore                                   1
JSCA International Stadium, Ranchi                       2
Khan Shaheb Osman Ali Stadium, Fatullah                  1
Kingsmead Cricket Ground, Durban                         1
M. A. Chidambaram Stadium, Chennai                       2
M. Chinnaswamy Stadium, Bangalore                        1
MRIC Stadium, Hambantota                                 1
Maharashtra Cricket Association Stadium, Pune            3
Maharashtra Cricket Association Stadium, Pune            1
Manuka Oval, Canberra                                    1
McLean Park, Napier                                      1
Melbourne Cricket Ground, Melbourne                      2
Narendra Modi Stadium, Ahmedabad                         1
Nehru Stadium, Guwahati                                  1
Newlands Cricket Ground, Cape Town                       1
Perth Stadium, Perth                                     1
Punjab Cricket Association IS Bindra Stadium, Mohali     1
Queen's Park Oval, Port of Spain                         4
R. Premadasa Stadium, Colombo                            4
Rajiv Gandhi International Cricket Stadium, Hyderabad    1
Sabina Park, Kingston                                    1
Saurashtra Cricket Association Stadium, Rajkot           1
Sawai Mansingh Stadium, Jaipur                           1
Sher-e-Bangla Cricket Stadium, Dhaka                     4
Sir Vivian Richards Stadium, North Sound                 1
Sophia Gardens, Cardiff                                  1
SuperSport Park, Centurion                               2
Sydney Cricket Ground, Sydney                            1
Trent Bridge, Nottingham                                 1
VCA Stadium, Nagpur                                      1
Vidarbha Cricket Association Stadium, Nagpur             3
Wanderers Stadium, Johannesburg                          1
Wankhede Stadium, Mumbai                                 3
Zohur Ahmed Chowdhury Stadium, Chittagong                1
Name: Runs, dtype: int64

In [120]:
data_filled.head()

,No.,Runs,Opposition,Position,Innings,Venue,Ground,Date,Result
0,1,107,Sri Lanka,4,2,"Eden Gardens, Kolkata",Home,24-Dec-09,Won
1,2,102,Bangladesh,3,2,"Sher-e-Bangla Cricket Stadium, Dhaka",Away,11-Jan-10,Won
2,3,118,Australia,3,2,"APCA-VDCA Stadium, Visakhapatnam",Home,20-Oct-10,Won
3,4,105,New Zealand,3,1,"Nehru Stadium, Guwahati",Home,28-Nov-10,Won
4,5,100,Bangladesh,4,1,"Sher-e-Bangla Cricket Stadium, Dhaka",Away,19-Feb-11,Won

In [122]:
number_of_centuries_in_each_position = data_filled.groupby('Position')['Runs'].count()
number_of_centuries_in_each_position

Position
2     1
3    43
4    32
5     3
6     1
Name: Runs, dtype: int64

In [124]:
number_of_centuries_innings_wise = data_filled.groupby('Innings')['Runs'].count()
number_of_centuries_innings_wise

Innings
1    33
2    42
3     3
4     2
Name: Runs, dtype: int64

In [130]:
number_of_centuries_based_on_home_or_away = data_filled.groupby('Ground')['Runs'].count()
number_of_centuries_based_on_home_or_away

Ground
Away       36
Home       37
Neutral     6
Unknown     1
Name: Runs, dtype: int64

In [132]:
number_of_centuries_in_loosing_or_winning_cause = data_filled.groupby('Result')['Runs'].count()
number_of_centuries_in_loosing_or_winning_cause

Result
Drawn          9
Lost          13
Lost (D/L)     1
Tied           1
Won           55
Won (D/L)      1
Name: Runs, dtype: int64

In [134]:
number_of_centuries = data_filled['No.'].count()
number_of_centuries

80

In [136]:
result_percentage = (number_of_centuries_in_loosing_or_winning_cause / number_of_centuries ) * 100
result_percentage

Result
Drawn         11.25
Lost          16.25
Lost (D/L)     1.25
Tied           1.25
Won           68.75
Won (D/L)      1.25
Name: Runs, dtype: float64

In [138]:
data_filled.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80 entries, 0 to 79
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   No.         80 non-null     int64
 1   Runs        80 non-null     int32
 2   Opposition  80 non-null     object
 3   Position    80 non-null     int64
 4   Innings     80 non-null     int64
 5   Venue       80 non-null     object
 6   Ground      80 non-null     object
 7   Date        80 non-null     object
 8   Result      80 non-null     object
dtypes: int32(1), int64(3), object(5)
memory usage: 5.4+ KB

In [150]:
data_filled['Date'] = pd.to_datetime(data_filled['Date'],format='%Y%m%d',errors='coerce')
data_filled

,No.,Runs,Opposition,Position,Innings,Venue,Ground,Date,Result
0,1,107,Sri Lanka,4,2,"Eden Gardens, Kolkata",Home,2009-12-24,Won
1,2,102,Bangladesh,3,2,"Sher-e-Bangla Cricket Stadium, Dhaka",Away,2010-01-11,Won
2,3,118,Australia,3,2,"APCA-VDCA Stadium, Visakhapatnam",Home,2010-10-20,Won
3,4,105,New Zealand,3,1,"Nehru Stadium, Guwahati",Home,2010-11-28,Won
4,5,100,Bangladesh,4,1,"Sher-e-Bangla Cricket Stadium, Dhaka",Away,2011-02-19,Won
...,...,...,...,...,...,...,...,...,...
75,76,121,West Indies,4,1,"Queen's Park Oval, Port of Spain",Away,2023-07-20,Drawn
76,77,122,Pakistan,3,1,"R. Premadasa Stadium, Colombo",Neutral,2023-09-11,Won
77,78,103,Bangladesh,3,2,"Maharashtra Cricket Association Stadium, Pune",Home,2023-10-19,Won
78,79,101,South Africa,3,1,"Eden Gardens, Kolkata",Unknown,NaT,Won
79,80,117,New Zealand,3,1,"Wankhede Stadium, Mumbai",Home,2023-11-15,Won

In [160]:
number_of_centuries_after_2019 = data_filled[data_filled['Date'] > '2019-01-01']['Runs'].count()
number_of_centuries_after_2019

16